---
layout: base.njk
---

<h1>Mike Guterl</h1>

<div class="bio">
  <p>Staff Software Engineer at Shopify. Living in Oakland with my wife Laurel and dog George.</p>
</div>

<div class="social-links">
  <a href="https://github.com/mguterl" title="GitHub"><i class="fab fa-github"></i></a>
  <a href="https://www.linkedin.com/in/mikeguterl/" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
  <a href="https://mastodon.social/@mguterl" title="Mastodon"><i class="fab fa-mastodon"></i></a>
</div>

